div div div{

    float: left;
    border: 1px solid black; 
    width: 140px;
    height: 20px;
}
div{
    margin: 5px 5px 5px 0px;
    
}
div div {
    width: 890px;
    height: 30px;
    border:white;
}